.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Gradient: white → yellow → navy blue */
  /* background: linear-gradient(135deg, #ffffff 0%, #ffe600 50%, #001f4d 100%); */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centered-image {
  position: center;
  display: block;
  margin: 0 auto;
  max-width: 75vw;
  width: 40vw;
  height: auto;
}


  
@property --yellow-stop {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 20%;
}

@keyframes yellowThrob {
  0% {
    --yellow-stop: 60%;
  }
  50% {
    --yellow-stop: 100%;
  }
  100% {
    --yellow-stop: 60%;
  }
}

.loading-background {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 50% 50%, #FFE600 0%, #fffbe6 var(--yellow-stop), #fff 100%);
  background-repeat: no-repeat;
  animation: yellowThrob 3s linear infinite;
}